body {
    margin: 0;
}

.head {
    background-color: rgb(204, 164, 111);
    color: white;
    text-align: center;
    font-size: 60px;

}

nav {
    background-color: rgb(183, 119, 36);
    color: white;
    text-align: center;
    font-size: 50px;
    width: 100%;
    height: 10%;

}

span {
    display: inline-block;
    width: 20%;
    height: 5%;
}


.box1 {
    background-color: bisque;
    box-sizing: border-box;
    display: inline-block;
    border: 18px solid rgb(176, 143, 44);


    border-radius: 5%;
    font-size: 20px;
    width: 20%;
    height: 1003px;


}

.box2 {
    box-sizing: border-box;
    display: inline-block;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    width: 80%;
    height: 108vh;



}

.last {
    background-color: rgb(161, 112, 49);
    color: white;
    text-align: center;
    font-size: 45px;
    width: 100%;
    clear: both;
    padding: 20px;
    justify-content: bottom;


}