* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.head {
    background-color: rgb(204, 164, 111);
    color: white;
    text-align: center;
    font-size: 60px;
}

nav {
    background-color: rgb(183, 119, 36);
    color: white;
    text-align: center;
    font-size: 50px;
    width: 100%;
    height: 10%;
}

nav span {
    display: inline-block;
    width: 20%;
    height: 5%;
}

.row {
    display: flex;
}

.container {
    display: flex;
    height: 91vh;
}

.box1 {
    background-color: bisque;
    box-sizing: border-box;
    display: inline-block;
    border: 18px solid rgb(176, 143, 44);
    border-radius: 40px;
    font-size: 20px;
    width: 311px;
    margin: 0px;
    padding: 10px;
    /* height: auto; */
    flex-direction: column;
    text-align: center;
    overflow-y: auto;
}

.box1 p {
    margin-bottom: 20px;
}

.box2 {
    box-sizing: border-box;
    display: flex;
    width: calc(100vw - 328px);
    justify-content: flex-end;
    align-items: stretch;
    background: no-repeat top/100% url('./assets/monalisa.jpeg');
}

.image {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.last {
    background-color: rgb(161, 112, 49);
    color: white;
    text-align: center;
    font-size: 45px;
    width: 100%;
    clear: both;
    padding: 20px;
    justify-content: bottom;
}